<a href="https://colab.research.google.com/github/purav27/Python/blob/master/Data%20analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

idex='A B C D E'.split(),columns='W X Y Z'
print(idex)

['A', 'B', 'C', 'D', 'E']

In [14]:
df=pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
print(df)

          W         X         Y         Z
A -0.532018 -0.535742 -0.567102 -0.350983
B  0.460815  0.672325 -2.130787  0.927277
C -0.010862 -0.689997 -1.427626  0.069291
D  2.564988  0.710374  0.726690 -0.628886
E  0.105344 -1.145957  1.822052  1.090940

In [15]:
df['W']

A   -0.532018
B    0.460815
C   -0.010862
D    2.564988
E    0.105344
Name: W, dtype: float64

In [16]:
df[['W','X']]

          W         X
A -0.532018 -0.535742
B  0.460815  0.672325
C -0.010862 -0.689997
D  2.564988  0.710374
E  0.105344 -1.145957

In [17]:
type(df['W'])

pandas.core.series.Series

In [18]:
type(df[['W','X']])

pandas.core.frame.DataFrame

In [26]:
df['new']=df['W']+df['X']
print(df)

          W         X         Y         Z       new
A -0.532018 -0.535742 -0.567102 -0.350983 -1.067760
B  0.460815  0.672325 -2.130787  0.927277  1.133141
C -0.010862 -0.689997 -1.427626  0.069291 -0.700860
D  2.564988  0.710374  0.726690 -0.628886  3.275362
E  0.105344 -1.145957  1.822052  1.090940 -1.040614

In [0]:
df.drop('new',axis=1,inplace=True)

In [29]:
print(df)

          W         X         Y         Z       new
A -0.532018 -0.535742 -0.567102 -0.350983 -1.067760
B  0.460815  0.672325 -2.130787  0.927277  1.133141
C -0.010862 -0.689997 -1.427626  0.069291 -0.700860
D  2.564988  0.710374  0.726690 -0.628886  3.275362
E  0.105344 -1.145957  1.822052  1.090940 -1.040614

In [32]:
df.drop('E',axis=0,inplace=True)
print(df)

          W         X         Y         Z
A -0.532018 -0.535742 -0.567102 -0.350983
B  0.460815  0.672325 -2.130787  0.927277
C -0.010862 -0.689997 -1.427626  0.069291
D  2.564988  0.710374  0.726690 -0.628886

In [33]:
df.loc['A']

W   -0.532018
X   -0.535742
Y   -0.567102
Z   -0.350983
Name: A, dtype: float64

In [39]:
df.loc['B','W']

0.46081543036576383

In [43]:
df.loc[['A','B'],['X','Z']]

          X         Z
A -0.535742 -0.350983
B  0.672325  0.927277

In [44]:
df>0

       W      X      Y      Z
A  False  False  False  False
B   True   True  False   True
C  False  False  False   True
D   True   True   True  False

In [45]:
df[df>0]

          W         X        Y         Z
A       NaN       NaN      NaN       NaN
B  0.460815  0.672325      NaN  0.927277
C       NaN       NaN      NaN  0.069291
D  2.564988  0.710374  0.72669       NaN

In [46]:
df<0

       W      X      Y      Z
A   True   True   True   True
B  False  False   True  False
C   True   True   True  False
D  False  False  False   True

In [52]:
df[df['W']<0]['Y']

A   -0.567102
C   -1.427626
Name: Y, dtype: float64

In [0]:
df['new']='F G H I'.split()
df.set_index('new',inplace=True)

In [64]:
print(df)

     level_0 index         W         X         Y         Z
new
F          0     A -0.532018 -0.535742 -0.567102 -0.350983
G          1     B  0.460815  0.672325 -2.130787  0.927277
H          2     C -0.010862 -0.689997 -1.427626  0.069291
I          3     D  2.564988  0.710374  0.726690 -0.628886